@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
body {
    background: #485861;
    font-family: 'Times New Roman', Times, serif;
}
/* footer 시작 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    background: rgb(50, 55, 61);
}
footer ul li {
    display: flex;    
}
footer a {
    cursor: pointer;
    text-align: center;
    width: 25%;
    color: rgb(97, 102, 107);
    font-size: 25px;
    line-height: 72px;
}
footer a:nth-child(2) {
    color: #ffe6cf;
}
footer a:hover {
    background: rgb(46, 52, 58);
}
/* footer 끝 */